<%= form_with model: condition, local:true do |form| %>

<!-- Error messages will appear if the field is not filled in by the admin user -->
<% if condition.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@condition.errors.count, "error") %> prohibited this form from being saved:</h2>
    <ul>
    <% @condition.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form.label :condition %>
  <%= form.text_field :condition %>
</div>
<div>
  <%= form.submit 'Submit' %>
</div>
<% end %>