<%= form_with model: condition, local:true do |form| %>

<!-- Error messages will appear if the field is not filled in by the admin user -->

<div class="formanderrors">
  <div class="formanderrors2">
    <div class="error-explain">
<% if condition.errors.any? %>
  <div id="error_explanation">
    <p class="perrors"><%= pluralize(@condition.errors.count, "error") %> prohibited this form from being saved:</p>
    <ul>
    <% @condition.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>

<div>
  <%= form.label :condition %>
  <%= form.text_field :condition %>
</div>
<div>
  <%= form.submit 'Submit' %>
</div>
<% end %>

</div>
</div>