<%= render "/pages/navbar" %>

<div class="listing-hero">
<h1>Conditions Listing</h1>
</div>

<table id="listing">
<thead>
  <tr>
    <th>Condition</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>

<% @conditions.each do |condition|%>
  <tr class="listing-row">
    <td><%= condition.condition %></td>

  <td><%= link_to 'Edit', edit_condition_path(condition), class:"listing-link" %></td>
    <td><%= link_to 'Destroy', condition_path(condition),
            method: :delete,
            data: { confirm: 'Are you sure sure?'}, class:"listing-link" %></td>

<% end %>




</tbody>
</table>

<br>

<%= link_to 'Add new condition', new_condition_path %>


