<%= form_with model: listing, local:true do |form| %>

<!-- Error messages will appear if the field is not filled in by the admin user -->

<div class="listingwholeform">

<div class="listingerrors">
<% if listing.errors.any? %>

  <div id="error_explanation">
    <p class="perrors"><%= pluralize(@listing.errors.count, "error") %> prohibited this form from being saved:</p>
 
    <ul>
    <% @listing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>



<div>
  <%= form.label :title, :class => "label-field"%>
  <%= form.text_field :title, :required => true, :autofocus => true, :placeholder => "What are you selling?" %>
</div>

<div>
  <%= form.label :description, :class => "label-field"%>
  <%= form.text_area :description, :placeholder => "Type something here" %>
</div>


<div>
<%= form.label 'Operating System', :class => "label-field" %>
<%= form.select :system_id,
options_for_select( System.all.collect { |u| [u.name, u.id] },
:selected => listing.system_id ) %>
</div>


<div>

<%= form.label :year_id, :class => "label-field" %>
<%= form.select :year_id,
options_for_select( Year.all.collect { |u| [u.name, u.id] },
:selected => listing.year_id ) %>

</div>




<div>
  <%= form.label :condition_id, :class => "label-field" %>
  <%= form.select :condition_id,
  options_for_select( Condition.all.collect { |u| [u.condition, u.id] }, :selected => listing.condition_id ) %>
</div>


<div>
<%= form.label :location, :class => "label-field" %>
<%= form.select :location, ["Adelaide, SA", "Brisbane, QLD", "Canberra, ACT", "Hobart, Tas", "Melbourne, Vic", "Perth, WA", "Sydney, NSW", "Darwin, NT" ]%>
</div>

<div>
  <%= form.label 'Type', :class => "label-field" %>
  <%= form.select :machine_id,
  options_for_select( Machine.all.collect { |u| [u.name, u.id] },
  :selected => listing.machine_id ) %>
</div>



<div>
<%= form.label 'Is it restored to factory settings?', :class => "label-field" %>
<br>
<%= form.label :data_wiped, "Yes", :value => true, :class =>"radio-text" %>
<%= form.radio_button :data_wiped, true %>

<%= form.label :data_wiped, "No", :value => false, :class => "radio-text" %>
<%= form.radio_button :data_wiped, false %>
</div>


<div>
<%= form.label 'Please attach a picture', :class => "label-field" %>
<br>
<div class="photobut">
  <div class="but">
<%= form.file_field :picture, accept: 'image/png,image/gif,image/jpg,image/jpeg' %>
  </div>
</div>
</div>

<br>


<div>
  <%= form.submit 'Submit', :class => "blue-button" %>
</div>

<% end %>

</div>