<%= render "pages/navbar" %>

<div>
<%= search_form_for @q do |f| %>
  <%= f.label :'Search titles and location' %>
  <%= f.search_field :title_or_description_or_location_cont  %>
  <%= f.submit %>
<% end %>
</div>

<!-- Kaminari gem that enables a specific number of listings to be listed per page -->
  <%= paginate @listings %>

<div class="listing-hero">
<h1>Donated Tech</h1>
</div>


<div class="index-card">
  <% @listings.each do |listing|%>
    <% if listing.data_wiped == true %>

    <div class="index-card-content">
      <div class="img-container-index">
          <span><%= image_tag listing.picture, class: 'thumbnail-index' if listing.picture.attached? %></span>
      </div>
      <span><strong><%= listing.title %></strong></span>
      <span>Operating system: <%= listing.system.name %></span>
      <span>Year: <%= listing.year.name %></span>
      <span>Location: <%= listing.location %></span>
      <span>
        <%= link_to "View", listing_path( listing ) %>
      </span>
    </div>   
      <% end %>
      
  <% end %>
  </div>



<%= render 'pages/footer' %>



