<%= render "/pages/navbar" %>
<section class="show_single_list">

<h1>Show</h1>

<p> 
<%= image_tag @listing.picture, class: 'thumbnails' if @listing.picture.attached?  %>
</p>


<p>
<strong>Title:</strong>
<%= @listing.title %>
</p>

<p>
<strong>Description</strong>
<%= @listing.description %>
</p>

<p>
<strong>Computer System</strong>
<% if @listing.system != nil %>
<%= @listing.system.name %>
<% end %>
</p>

<p>
<strong>Year</strong>
<%= @listing.year.name %>
</p>


<p>
<strong>Condition</strong>
<%= @listing.condition.condition %>
</p>

<p>
<strong>Location</strong>
<%= @listing.location %>
</p>

<p>
<strong>Machine</strong>
<%= @listing.machine.name %>
</p>

<p>
<strong>Data wiped</strong>
<% if @listing.data_wiped == true %>
        <%= "Yes" %>
        <% else  %>
        <%= "No" %>
        <% end %>
</p>


<% if current_user.id != @listing.user_id %>
<p>
<strong>Request the item</strong>
<%= link_to "Button", email_donator_path(@listing) %>
</p>
<% end %>


<% if current_user.id == @listing.user_id %>
<%= link_to "Edit", edit_listing_path(@listing) %>
<%= link_to 'Destroy', listing_path(@listing),
            method: :delete,
            data: { confirm: 'Are you sure sure?'}, class:"listing-link" %>
<% end %>

</section>