<%= render "/pages/navbar" %>
<section class="show_single_list">
  <div class="show-container">
    <div class="show-all">
        <div class="show-content">
       
<h1 class="h1-show">Tech listing</h1>
  
<p class="show-user">
<% if @listing.user_id == current_user.id %>
<% if @listing.data_wiped == true %>
<%= "Thank you so much! This listing has been published." %>
<% else %>
<%= "Thank you so much! This listing is pending. Someone will be in touch with you about restoring your tech to factory settings." %>
<% end %>
<% end %>
</p>
<p class="image-show"> 
<%= image_tag @listing.picture, class: 'thumbnails' if @listing.picture.attached?  %>
</p>
<p>
<strong>Title:</strong>
<%= @listing.title %>
</p>
<p class="show-description">
<strong>Description</strong>
<%= @listing.description %>
</p>
<p>
<strong>Computer System</strong>
<% if @listing.system != nil %>
<%= @listing.system.name %>
<% end %>
</p>
<p>
<strong>Year</strong>
<%= @listing.year.name %>
</p>
<p>
<strong>Condition</strong>
<%= @listing.condition.condition %>
</p>
<p>
<strong>Location</strong>
<%= @listing.location %>
</p>
<p>
<strong>Machine</strong>
<%= @listing.machine.name %>
</p>

<p>
<strong>Data wiped</strong>
<% if @listing.data_wiped == true %>
        <%= "Yes" %>
        <% else  %>
        <%= "No" %>
        <% end %>
</p>

<!-- User will only see this request button if they are not the one to list the item -->
<% if current_user.id != @listing.user_id %>
<div class="blue-button-request">

<%= link_to "Request item", email_donator_path(@listing), class:"request-link" %>
<% end %>

<% if current_user.id == @listing.user_id %>
<%= link_to "Edit", edit_listing_path(@listing) %>
<%= link_to 'Destroy', listing_path(@listing),
            method: :delete,
            data: { confirm: 'Are you sure sure?'}, class:"listing-link" %>
        </div>
<% end %>
       
    </div>
  </div>


</section>
<%= render '/pages/footer' %>