<nav class="nav">
  <ul>
    <div class="navbar-links">
    <li><%= link_to "HOME", root_path, class: "navbar-link" %></li>
    <li><%= link_to "ABOUT", about_path, class: "navbar-link" %></li>
    <li><%= link_to "TECH LISTINGS", listings_path, class: "navbar-link" %></li>
    <li><%= link_to "DONATE", new_donation_path, class: "navbar-link" %></li>
    <li>
    <li><%= link_to "CONTACT", root_path, class: "navbar-link" %></li>
    
 <% if user_signed_in? %>
  <div class="dropdown">
    <li class="dropbtn">
    <%= link_to "MY PROFILE", user_path, class: "navbar-link" %>
    </li>
    <div class="dropdown-content">
      <%= link_to "Add new tech", new_listing_path %>
      <%= link_to "My listings", user_path %>
    </div>
  </div>
  <% end %>
 
    <li>
    <% if user_signed_in? %>
    <%= link_to "LOGOUT", destroy_user_session_path, class: "navbar-link", method: :delete %>
    <% else %>
    <%= link_to "LOGIN", new_user_session_path, class: "navbar-link" %>
    <% end %>
    </li>

    <%if current_user %>
      <div class="dropdown">
        <li class="dropbtn">
          <% if current_user.admin? %>
          <%= link_to "ADMIN", admin_path, class: "navbar-link" %>
        </li>
        <div class="dropdown-content">
        <%= link_to "All listings", admin_path %>
        <%= link_to 'View Machines', machines_path %>
        <%= link_to 'View Years', years_path%>
        <%= link_to 'View Systems', systems_path%>
        <%= link_to 'View Conditions', conditions_path %>
        <%= link_to 'View Donations', donations_path %>
        </div>
        </div>
          <% end %>
    <% end %>
    </div>
    <div class="navbar-logo">
      <img src="/assets/white-greyback.png" alt="tech-exchange-logo" class="img-techexchange">
    
  </div>
  </ul>
</nav>




