<nav class="nav">
  <ul>
    <div class="navbar-links">
    <li><%= link_to "Home", root_path, class: "navbar-link" %></li>
    <li><%= link_to "Tech Listings", listings_path, class: "navbar-link" %></li>
    <li><%= link_to "How you can help", help_path, class: "navbar-link" %></li>

   
    <li>
    <% if user_signed_in? %>
    <%= link_to "Add New Tech", new_listing_path, class: "navbar-link" %>
    <% end %>
    </li>
    <li>
    <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Login", new_user_session_path %>
    <% end %>
    </li>
     <li><%= link_to "Contact", root_path, class: "navbar-link" %></li>
    

  </ul>
</nav>

