<nav class="nav">
  <ul>
    <div class="navbar-links">
    <li><%= link_to "HOME", root_path, class: "navbar-link" %></li>
    <li><%= link_to "ABOUT", about_path, class: "navbar-link" %></li>
    <li><%= link_to "TECH LISTINGS", listings_path, class: "navbar-link" %></li>
    <li><%= link_to "DONATE", new_donation_path, class: "navbar-link" %></li>
    <li>
    <li><%= link_to "CONTACT", root_path, class: "navbar-link" %></li>
    <li>
    <% if user_signed_in?  %>
    <%= link_to "ADD NEW TECH", new_listing_path, class: "navbar-link" %>
    </li>
    <% end %>
    <li>
    <% if user_signed_in? %>
    <%= link_to "MY LISTINGS", user_path, class: "navbar-link" %>
    <% end %>
    </li>
    <li>
    <% if user_signed_in?   %>
    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "LOGIN", new_user_session_path %>
    <% end %>
    </li>

    <%if current_user %>
    <li>
    <% if current_user.admin? %>
    <%= link_to "ADMIN DASHBOARD", admin_path %>
    <% end %>
    <% end %>
    </li>

    <div class="navbar-logo">
      <img src="/assets/logo.png" alt="tech-exchange-logo" class="img-techexchange">
    </div>
  </ul>
</nav>




