This is admin dashboard


Here's the admin dashboard view
<%=  render 'all_listings' %> 

    <% if current_user %>
        <% if current_user.admin? %>
         <td><%= link_to 'View Machines', machines_path %></td>
         <td><%= link_to 'View Years', years_path%></td>
         <td><%= link_to 'View Systems', systems_path%></td>
         <td><%= link_to 'View Conditions' %></td>
        <% end %>
        <% end %> 

