<div class="home-background">
<%= render 'navbar' %>

<body>
<main>

<div class="hero-text">
  <div class="hero-stuff">
<h1 class="h1-pages">Breathe life into old tech.</h1>
<h1 class="h2-pages">Donate unwanted computers and laptops to the Tech Exchange.</h1>
 
 <div class="arrow">
 <div>
  <i class="fas fa-angle-double-down double-arrow"></i>
  </div>
  </div>
  </div>
</div>

<div class="recent-listing-hero">
<div>
<h3>Recent listings</h3>
</div>
</div>

<div class="content2">
<div class="content">
<% @listings = Listing.all.select { |l| l.data_wiped == true } %>
  <% @listings.last(8).each do |listing|%>
    <div class="card-content">
      <span><strong><%= listing.title %></strong></span>
      <span><%= image_tag listing.picture, class: 'background-image' if listing.picture.attached? %></span>
      <span>Operating System: <%= listing.system.name %></span>
      <span>Year: <%= listing.year.name %></span>
      <span>Condition: <%= listing.condition.condition %></span>
      <span>Location: <%= listing.location %></span>
      <span><%= link_to "View", listing_path( listing ) %></span>
    </div>
  <% end %>
</div>
</div>
<%= render 'footer' %>
</main>
</body>
</div>


