<%= render 'navbar' %>

<body>
<main>
<p class = "notice"></p>
<div class="home-background">
<div class="hero-text-box">

<div class="typewriter">
<h1 class="h1-pages">Breathe life into old tech.</h1>
<h2 class="h2-pages">Donate unwanted computers and laptops to the Tech Exchange</h2>
</div>
</div>
</div>

<div class="listing-hero">
<h2>Recent listings</h2>
</div>

<table id="listing">
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Operating System</th>
    <th>Year</th>
    <th>Condition</th>
    <th>Machine type</th>
    <th>Location</th>
    <th>Image</th>
    <th colspan="3"></th>
  </tr>
</thead>
<tbody>
<% @listings = Listing.all %>
<% @listings.last(6).each do |listing|%>
  <tr class="listing-row">
    <td><%= listing.title %></td>
    <td><%= listing.description %></td>
    <td><%= listing.system.name %>
    <td><%= listing.year.name %></td>
    <td><%= listing.condition.condition %></td>
    <td><%= listing.machine.name %></td>
    <td><%= listing.location %></td>
    <td><%= image_tag listing.picture, class: 'thumbnails' if listing.picture.attached? %></td>
    <td><%= link_to "View", listing_path( listing ) %></td>
    <%end%>
</tbody>
</table>

<br>



</main>
</body>

<%= render 'footer' %>
