
<%= form_with model: @donation, local:true do |form| %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :amount %>
      <%= form.number_field :amount, min: 0, :placeholder => "Use arrows for donation" %>
    </div>
    <div class="submit">
      <%= form.submit 'Confirmation for payment', :class => "blue-button" %>
    </div>

<% end %>