<%= form_with model: @donation, local:true do |form| %>
<!-- Error messages will appear if the field is not filled in by the admin user -->

<div class="formanderrors">
  <div class="formanderrors2">
    <div class="error-explain">
      <% if @donation.errors.any? %>
        <div id="error_explanation">
          <p class="perrors"><%= pluralize(@donation.errors.count, "error") %> prohibited this form from being saved:</p>
          <tr>
          <% @donation.errors.full_messages.each do |msg| %>
          <td><%= msg %></td>
          <% end %>
          </tr>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.label :name, :class => "label-field" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :amount, :class => "label-field" %>
      <%= form.number_field :amount, min: 0, :placeholder => "Use arrows for donation", :class => "placeholder" %>
    </div>
    <div class="submit">
      <%= form.submit 'Confirm', :class => "don-blue-button" %>
    </div>

<% end %>
  </div>
</div>