
<!-- This is the confirmation page to get to Stripe so user can enter in their name, payment details -->

<%= render "/pages/navbar" %>
<section class="show_single_list">
<h1>Connect to Stripe</h1>

<p> 
Please click the link below to connect to stripe.
<br>
<%= "Name: #{@donation.name}" %>
</p>
<p> 
<%= "$Amount: #{@donation.amount}"  %>
</p>

<button data-stripe="payment">
  Stripe payment <%= number_to_currency(@donation.amount) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

</section>

<%= render '/pages/footer' %>