<%= form_with model: system, local:true do |form| %>
<!-- Error messages will appear if the field is not filled in by the admin user -->
<div class="formanderrors">
  <div class="formanderrors2">
    <div class="error-explain">
<% if system.errors.any? %>
  <div id="error_explanation">
    <p class="perrors"><%= pluralize(@system.errors.count, "error") %> prohibited this form from being saved:</p>
 
    <ul>
    <% @system.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.submit 'Submit' %>
</div>

<% end %>
</div>
</div>